.kravliste {
    .kravliste-tittel {
        padding-bottom: 2rem;
    }

    .skillelinje {
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 0;
    }

    .kravliste-liste {
        list-style-type: none;
        padding-left: 0;
    }

    .kravliste-krav {
        margin-top: 1rem;
    }
}
