.slette-modal {
    border: none;

    p,
    h1 {
        margin-bottom: 0.5rem;
    }

    .nav-veilederpanel {
        border: none;
    }

    .button-wrapper {
        float: right;
        margin-top: 1rem;

        .knapp--standard {
            margin-left: 1rem;
        }
    }

    .nav-veilederpanel.nav-veileder {
        top: 1.75rem;
    }
}

.oversikt-krav.aktive-krav {
    .side__innhold {
        background-color: #f1f1f1;
    }

    .tabell {
        background-color: #ffffff;
    }

    .krav-tittel {
        margin-bottom: 1.5rem;
    }

    .krav-mottatt {
        margin-top: 1.5rem;
    }
} 



