.beloephjelpelabel {
  display: flex;
  margin: 0.5rem 0;
}

.hjelpetekst-refusjon {
  display: inherit;
}

.hjelpetekst-beskrivelse {
  margin-right: 0.5rem;
}

.eksempel-modal {
  margin: 2em;
  width: 50rem;
  border: 2px solid #C6C2BF;

  .nav-veilederpanel {
    padding: 3rem;
    padding-left: 7rem;
    border: none;
  }

  .lukke-knapp {
    margin-left: -0.2rem;
  }

  .leftallign-list {
    padding-left: 1rem;
  }
}
