.bulk-innsending
  .bulk-kolonne-1
    width: 3rem
    text-align: center

  .bulk-innsending__rad
    padding: 1.5rem 0

    .skjemaelement__label
      display: initial
      line-height: 1.5rem

    .slett-knapp
      margin-top: 2.615rem

    .skjemaelement__dobbel__label
      display: flex !important
      margin-bottom: 0 !important
    
    &.odd
      background-color: #f1f1f1

  .beregnet-refusjon
    margin-top: 0.75rem

  .bulk-element
    label
      display: inline-block !important
      margin: 0 0

  .bulk-element-nr
    display: inline-block !important
    margin: 0.5rem 0
  
  .bulk-main-input-wrapper
    padding-right: 0

    &::before
      content: ""
      background: #3E3832
      position: absolute
      bottom: 1rem
      top: 2.625em
      left: -0.5rem
      width: 1px

  .not-first-row .hjelpelabel > .hjelpetekst
    display: none
    background-color: red
